@tailwind base;
@tailwind components;
@tailwind utilities;

html,
button,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Pretendard Variable';
  font-weight: 400;
  vertical-align: baseline;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.025em;
  color: #111111;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.Gradient_A {
  opacity: 1;
  background: linear-gradient(148deg, #7f00ff -14%, #ef89ff 111%);
}

.Gradient_B {
  opacity: 1;
  background: linear-gradient(180deg, #f8d8fd -21%, #ffffff 115%);
}

.Gradient_A10 {
  opacity: 1;
  background: linear-gradient(147deg, #560cb9 -5%, #bf70cb 104%);
}

@font-face {
  font-family: 'Pretendard Variable', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  src:
    url('assets/fonts/subset-PretendardVariable-Regular.woff2') format('woff2'),
    url('assets/fonts/subset-PretendardVariable-Regular.woff') format('woff'),
    url('assets/fonts/subset-PretendardVariable-Regular.ttf') format('truetype');
  font-display: swap;
}
